.choice-box .context-menu {
-fx-font-size: 10px;}

.choice-box .menu-item:focused {
-fx-background-color: SLATEBLUE;
-fx-font-size: 10px;
}

.choice-box .menu-item > .label {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
    -fx-font-size: 10px;

    }

.choice-box .menu-item:focused > .label {
-fx-font-size: 10px;
}

.choice-box > .label {
-fx-font-size: 10px;
 }

 .choice-box .context-menu {
 -fx-font-size: 10px;
   }

#duplicateBox{
    -fx-font-size: 12px;
     -fx-font-family: "Arial Black";
     -fx-fill: #818181;
     -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-pref-width: 100px;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-pref-width: 100px;
}

#mastermindText {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.root {
     -fx-background-color: linear-gradient(#e5ccff, #b396f6);
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.label{
  -fx-font-size: 12px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );


}